.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;

}

.flex-blackjack-row-1,
.flex-blackjack-row-2,.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;

    justify-content: space-around;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
    background: url('https://cms-assets.tutsplus.com/legacy-premium-tutorials/posts/13756/images/13756_3e140f5b90803297aa685ec07828b9ca.jpg');
    color: white;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;

}
.flex-blackjack-row-2 button{
    border: 1px solid black;
}
.flex-blackjack-row-2 div{
    border: 1px solid rgb(214, 202, 88);
    padding: 0.3rem 0.1rem;
    padding-left: 1rem;
}
table th, td  {
    padding: 5px;

    border: 1px solid black;
}